{{! Code based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app }}

{{! Trails - Handlebars Template }}

{{! for delete function: }}
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>

<h1>Brain Implants</h1>

{{! Create a table }}
<table id="brain-implants-table">
  <thead>
    <tr>
      <th>Implant ID</th>
      <th>Patron Name</th>
      <th>Expiration Date</th>
      <th>Berserk Mode</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    {{#each brain_implants}}
      <tr>
        <td>{{this.implant_id}}</td>
        <td>{{this.patron_name}}</td>
        <td>{{this.expiration_date}}</td>
        <td>{{this.berserk_mode}}</td>
        <td><button
            onclick="deleteImplant({{this.implant_id}})"
          >Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{! Form to add a record to the table }}
<p>To add a new implant, please enter the details below and click 'Submit'!</p>
<form id="add-implant-form">

  <label for="input-patron">Patron Name:* </label>
  <select name="input-patron" id="input-patron">
    {{#each patrons}}
      <option value="{{this.patron_id}}">{{this.patron_name}}</option>
    {{/each}}
    <option value="NULL">N/A</option>
  </select>

  <label for="input-expiration-date">Expiration Date:* </label>
  <input type="date" name="expiration_date" id="input-expiration-date" />

  <label for="input-berserk-mode">Berserk Mode:* </label>
  <select name="input-berserk-mode" id="input-berserk-mode">
    <option value="0">False</option>
    <option value="1">True</option>
  </select>

  <input type="submit" />
</form>

<script src="/js/brain_implants.js"></script>