{{! Code adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app }}

{{! Patron Parks - Handlebars Template }}

{{! for delete function: }}
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>

<h1>Patron Parks</h1>

{{! Create a table }}
<div class="dataTable">
  <table id="patron-parks-table">
    <thead>
      <tr>
        <th>Patron Name</th>
        <th>Park Name</th>
        <th>Visit Count</th>
        <th>Edit</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      {{#each patron_parks}}
        <tr>
          <td>{{this.patron_name}}</td>
          <td>{{this.park_name}}</td>
          <td>{{this.visit_count}}</td>
          <td><button onclick="editPatronPark('{{this.patron_name}}', '{{this.park_name}}', '{{this.visit_count}}')"
            >Edit</button></td>
          <td><button
              onclick="deletePatronPark('{{this.patron_name}}', '{{this.park_name}}')"
            >Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Form to add a record to the table }}
<p id="add-description">To add a new visit, please enter the details below and click 'Submit'!</p>
<form id="add-patron-park-form">
  <label for="input-patron">Patron Name:* </label>
  <select name="input-patron" id="input-patron">
    <option value="">Select a patron:</option>
    {{#each patrons}}
      <option value="{{this.patron_id}}">{{this.patron_name}}</option>
    {{/each}}
  </select>
  <div id="errorMessage"></div>
  <label for="input-park">Park Name:* </label>
  <select name="input-park" id="input-park">
    <option value="">Select a park:</option>
    {{#each parks}}
      <option value="{{this.park_id}}">{{this.park_name}}</option>
    {{/each}}
  </select>

  <label for="input-visit-count">Visit Count:* </label>
  <input type="number" name="input-visit-count" id="input-visit-count" />

  <input type="submit" />
</form>

<script src="/js/patron_parks.js"></script>