{{! Code based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app }}

{{! Patron Parks - Handlebars Template }}

{{! for delete function: }}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Patron Parks</h1>

{{! Create a table }}
<table id="patron-parks-table">
  <thead>
    <tr>
      <th>Patron Name</th>
      <th>Park Name</th>
      <th>Visit Count</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>{{this.patron_name}}</td>
        <td>{{this.park_name}}</td>
        <td>{{this.visit_count}}</td>
        <td><button onclick="deletePatronPark({{this.id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="/js/delete_patron_park.js"></script>

{{! Form to add a record to the table }}
<p>To add a new visit, please enter the details below and click 'Submit'!</p>
<form id="add-patron-park-form">
  <label for="input-patron">Patron Name:* </label>
  <select name="input-patron" id="input-patron">
    {{#each patrons}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <label for="input-park">Park Name:* </label>
  <select name="input-park" id="input-park">
    {{#each parks}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <label for="input-visit-count">Visit Count:* </label>
  <input type="number" name="input-visit-count" id="input-visit-count" />

  <input type="submit" />
</form>

<script src="/js/add_patron_park.js"></script>
