{{! Code based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app }}

{{! Patrons - Handlebars Template }}

{{! for delete function: }}
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>

<link rel="stylesheet" href="../css/app.css" />

<h1>Patrons</h1>

{{! Create a table }}
<table id="patrons-table">
  <thead>
    <tr>
      <th>Patron ID</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr data-value="{{this.patron_id}}">
        <td>{{this.patron_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.date_of_birth}}</td>
        <td>{{this.address}}</td>
        <td><button
            onclick="editPatron({{this.patron_id}}, '{{this.name}}', '{{this.date_of_birth}}', '{{this.address}}')"
          >Edit</button></td>
        <td><button
            onclick="deletePatron({{this.patron_id}})"
          >Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{! Form to add a record to the table }}
<p id="add-description">To add a new patron, please enter their information below and click 'Submit'!</p>
<form id="add-patron-form">
  <label for="input-name">Name:* </label>
  <input type="text" name="input-name" id="input-name" />

  <label for="input-dateofbirth">Date of Birth:* </label>
  <input type="date" name="input-dateofbirth" id="input-dateofbirth" />

  <label for="input-address">Address:* </label>
  <input type="text" name="input-address" id="input-address" />

  <input type="submit" />
</form>

<script src="/js/patrons.js"></script>