{{! Code adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app }}

{{! Rewards Points - Handlebars Template }}

{{! for delete function: }}
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>

<h1>Rewards Points</h1>

{{! Create a table }}
<div class="dataTable">
  <table id="rewards-points-table">
    <thead>
      <tr>
        <th>Reward ID</th>
        <th>Patron Name</th>
        <th>Reward</th>
        <th>Edit</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      {{#each rewards_points}}
        <tr>
          <td>{{this.reward_id}}</td>
          <td>{{this.patron_name}}</td>
          <td>{{this.reward}}</td>
          <td><button onclick="editReward({{this.reward_id}},'{{this.patron_name}}', '{{this.reward}}')"
            >Edit</button></td>
          <td><button onclick="deleteReward({{this.reward_id}})"
            >Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Form to add a record to the table }}
<p id="add-description">To add a new reward, please enter the details below and click 'Submit'!</p>
<form id="add-reward-form">
  <label for="input-patron_id">Patron Name:* </label>
  <select name="input-patron_id" id="input-patron_id">
    <option value="" disabled selected>Select a patron</option>
    {{#each patrons}}
      <option value="{{this.patron_id}}">{{this.patron_name}}</option>
    {{/each}}
  </select>

  <label for="input-reward">Reward:* </label>
  <input type="number" name="input-reward" id="input-reward" />

  <input type="submit" />
</form>

<script src="/js/rewards_points.js"></script> 